
/* Chapter settings styling */

.settings-label {
  font-weight: 500;
  margin-bottom: 0.25rem;
}

/* Toggle code visibility styling */ 
.toggle-code-button {
  font-size: 0.9rem;
  padding-left: 0;
  color: #42708E;
}

.toggle-code-button:hover {
  color: #42708E;
  text-decoration: underline;
}

.toggle-code-button:focus {
  box-shadow: none;
}

pre {
  display: block;
}

.hidden {
  display: none;
}

/* Plotly styling */

.plotly {
  max-width: 100%;
}

/* Adjust the modebar position a bit so it does not overlap with the plot */
.js-plotly-plot .plotly .modebar {
  top: -9px;
}

/* Foldable sections */

.foldable {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.2rem;
  background-color: #f6f6f6;
}

.foldable-button {
  display: block !important;
  padding: .375rem;
  color: #212529;
}

.foldable-button:hover {
  text-decoration: underline;
}

.foldable-button:focus {
  box-shadow: none;
}

.foldable p {
  margin-bottom: 0;
  padding: .375rem;
}

.folded {
  display: none;
}

